node_modules/
*lock.json
api-gateway/middleware
api-gateway/models
mongodb/
ml-model/ml-model
.angular/
.DS_Store
fuseki/
backend/review-service/.env
*.sav
backend/user/db
backend/user/log
backend/user/middleware
backend/user/models
backend/user/queue
backend/user/.env

backend/api-gateway/db
backend/api-gateway/log
backend/api-gateway/middleware
backend/api-gateway/models
backend/api-gateway/queue
backend/api-gateway/.env

backend/review-service/db
backend/review-service/log
backend/review-service/middleware
backend/review-service/models
frontend/.env
backend/review-service/queue

backend/movie-recommender/db
backend/movie-recommender/log
backend/movie-recommender/middleware
backend/movie-recommender/models
backend/movie-recommender/queue
backend/movie-recommender/.env

backend/mailer-service/db
backend/mailer-service/log
backend/mailer-service/middleware
backend/mailer-service/models
backend/mailer-service/queue
backend/mailer-service/.env